/*
  Author: Sebastian Duque Rivera (A00441528) or SDR
  Author: Mohammed Al-Bashiri (A00391502)
  Author: Felipe Duque Rivera (A00446745) or FDR
  Author: Colby O'Keefe (A00428974)

  This file will be used throughout our project for the three phases of our service learning
  assignment for Northwood Care. This is our formatting sheet.
    
  Current Phase: 1 , Date created: March 3, 2022.
*/

/* Colby O'Keefe (A00428974) */
body {
  background-image: url(../images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Mohammed Al-Bashiri March 7, 2022 */
/* blog name, edit and publish font and colour*/
.name-style {
  color: rgb(111, 209, 255);
  font-size: 1.5em;
}

/* 
  Mohammed Al-Bashiri March 7, 2022
  might not need this anymore (SDR March 23, 2022)
/* blog name input text boxes */
.box-width {
  width: 300px !important;
  height: 40px;
}

/*
  For <type name> font size. (SDR March 12, 2022)
  might not need this anymore (SDR March 23, 2022)
*/
.box-text-size {
  padding: 25px;
  font-size: 1.5em;
}

/* Mohammed Al-Bashiri March 7, 2022 */
/* switches */
.toggle-style {
  margin-left: 0px !important;
  margin-right: 25px;
  padding-left: 5px !important;
  height: 40px !important;
  width: 300px !important;
}

/*
  For the width of a <div> (SDR, March 16, 2022)
*/
/* .div-width {
  width: 900px;
} */

/*
  This will quickly pad around <div>'s for spacing. (SDR March 9, 2022)
*/
.pad-div {
  padding: 10px;
}

/*
  Sets the size of the text box for the blog list. (SDR March 5, 2022)
*/
.blog-size {
  width: 850px;
  height: 300px;
  margin-left: 0px !important;
  margin-top: 10px;
  font-size: 1.5em;
  padding: 10px;
}

/* 
  Special keys
  Modified: March 12, 2022 (SDR) 
*/
.blue-key {
  width: 97px;
  height: 50px;
  margin-top: 0px !important;
  margin: 25px;
  margin-left: 0px !important;
  font-size: 1.5em;
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
}

/*
  This will allow the blue keys to temporarily grow in size 
  when hovered over with the cursor and shows a color change
  indication.
*/
/* Modified: March 26, 2022 Mohammed Al-Bashiri */
/* Modified: March 26, 2022 Mohammed Al-Bashiri (button size changes when hovering) */
.blue-key:hover {
  background-color: green;
  transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
}

/* 
  Space key
  (FDR) 
*/
.space-key {
  width: 397px;
  height: 50px;
  margin-top: 0px !important;
  margin: 25px;
  margin-left: 0px !important;
  font-size: 1.5em;
  z-index: 200;
  display: inline-block;
}

.space-key:hover {
  background-color: green;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}

/* #kbd {
  max-width: 900px;
  min-width: 700px;
} */

/* 
  Red keys
  Modified: March 12, 2022 (SDR) 
*/
.red-key {
  width: 50px;
  height: 50px;
  margin-top: 0px !important;
  margin: 25px;
  margin-left: 0px !important;
  font-size: 1.5em;
  z-index: 200;
  display: inline-block;
}

/*
  This will allow the red keys to temporarily grow in size 
  when hovered over with the cursor and shows a color change
  indication.
  Modified: March 26, 2022 Mohammed Al-Bashiri (button size changes when hovering) 
*/
.red-key:hover {
  background-color: orange;
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
}

/* 
  Word Bank Button 
  Modified: March 12, 2022 (SDR)
*/
.word-bank {
  width: 120px;
  height: 60px;
  margin-left: 0px !important;
  margin-right: 2px;
  font-size: 1.5em;
}

/* 
  Star Button 
  Modified: March 12, 2022 (SDR)
*/
.star-btn {
  width: 60px;
  height: 60px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1.5em;
}

/* 
  Text-box for the Word Bank (wb)
  March 12, 2022 (SDR)
*/
.wb-textbox {
  width: 235px;
  height: 54px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1.5em;
  padding: 10px;
}

/* 
  Save, Cancel, and Clear buttons
  March 12, 2022 (SDR)
*/
.snc-btn {
  width: 100px;
  height: 50px;
  margin-left: 0px !important;
  margin-right: 25px;
  padding: 10px;
  font-size: 1.5em;
}

/*
  The moddelling for modal notification.
  Created: March 28, 2022 (SDR + FDR)
*/
.swal-modal {
  background-color: royalblue;
  border: 3px solid rgba(255, 0, 0, 0.527);
  text-align: center;
}

/*
  For the text font colour.
  Created: March 28, 2022 (SDR + FDR)
*/
.swal-text {
  color: white;
  text-align: center;
}

/*
  For the title font colour.
  Created: March 28, 2022 (SDR + FDR)
*/
.swal-title {
  color: white;
}

/*
  For the position of the buttons.
  Created: March 28, 2022 (SDR + FDR)
*/
.swal-buttons {
  position: center !important;
}

/* Colby O'Keefe (A00428974) */
#currently-editing-blog {
  color: white;
  text-shadow: -1px -1px 0 blue, 1px -1px 0 blue, -1px 1px 0 blue,
    1px 1px 0 blue;
  font-weight: bold;
  font-size: 30px;
  margin-top: 0.5%;
}

/* Colby O'Keefe (A00428974) */
.keyboardKey--activatable::after {
  content: "";
  top: 5px;
  right: 5px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

/* Colby O'Keefe (A00428974) */
.keyboardKey--active::after {
  background: red;
}

/* Colby O'Keefe (A00428974) */
.delete-word-button {
  margin-right: 10px;
  margin-bottom: 25px;
}

.saved-word {
  margin-right: 10px;
  margin-bottom: 25px;
}

.edit-word-button {
  margin-right: 25px;
  margin-bottom: 25px;
}
