/*
    Author: Sebastian Duque Rivera (A00441528) or SDR
    Author: Felipe Duque Rivera (A00446745) or FDR
    Author: Mo ()
    Author: Colby ()

    This file will be used throughout our project for the three phases of our service learning
    assignment for Northwood Care. This is our formatting sheet.
    
    Current Phase: 1 , Date created: March 3, 2022.
*/

/*
    Used to center a <div>. (SDR March 5, 2022)
*/
.centerBox {
  margin: auto;
  width: 68%;
  padding: 10px;
}

.blogSize {
  width: auto;
}

/*
    Used for spacing between keys. (SDR March 5, 2022)
*/
.keySpacing {
  width: 5px;
}
